{{ define "main" }}
{{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts")
(eq (trim $.Site.Params.contentTypeName " ") "")) }}
{{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName)
"posts" }}

<article class="post">
    <div style="display: flex; align-content: center; column-gap: 100px; justify-content: center;">
        {{ if .Params.Cover }}
        <div class="post-cover" style="width: 80px">
            <img src="{{ .Params.Cover | absURL }}"
                alt="{{ .Params.CoverAlt | plainify | default .Title }}" />
        </div>
        {{ end }}
        <div
            style="display: flex; flex-direction: column; align-content: center;">
            <a href="{{ .Permalink }}" style="text-decoration: none;">
                <h1 class="post-title" style="margin: 0px;">{{ .Title |
                    markdownify }}</h1>
                {{ if .Params.challenge }}
                <h2 style="margin: 0px;">{{ .Params.challenge | markdownify
                    }}</h2>
                {{ end }}
            </a>
            {{ if .Params.tags }}
            <span class="post-tags">
                {{ range .Params.tags }}
                <a href="{{ (urlize (printf "tags/%s" . )) | absLangURL }}/">#{{
                    . }}</a>&nbsp;
                {{ end }}
            </span>
            {{ end }}
            <div
                style="display: flex; flex-direction: row; align-content: center;">
                {{ if .Date }}
                <time class="post-date">
                    {{ .Date.Format ($.Site.Params.DateFormatList | default
                    "2006-01-02") }}
                </time>
                {{ end }}
                {{ with .Params.Author }}
                <span class="post-author">— {{ $.Site.Params.WrittenBy | default
                    "Written by" }} {{ . }}</span>{{ end }}
            </div>
        </div>
    </div>

    <div class="post-content">
        {{ if or .Params.Toc $.Site.Params.Toc }}
        {{ if ne .Params.Toc false }}
        <h2>Table of Contents</h2>
        <aside class="table-of-contents">{{ .TableOfContents }}</aside>
        {{ end }}
        {{ end }}
        {{ .Content }}
    </div>
    {{ if eq .Type $.Site.Params.contentTypeName }}
    {{ if or .NextInSection .PrevInSection }}
    <div class="pagination">
        <div class="pagination__title">
            <span class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts |
                default "Read other posts" }}</span>
            <hr />
        </div>
        <div class="pagination__buttons">
            {{ if .NextInSection }}
            <span class="button previous">
                <a href="{{ .NextInSection.Permalink }}">
                    <span class="button__icon">←</span>
                    <span class="button__text">{{ .NextInSection.Title }}</span>
                </a>
            </span>
            {{ end }}
            {{ if .PrevInSection }}
            <span class="button next">
                <a href="{{ .PrevInSection.Permalink }}">
                    <span class="button__text">{{ .PrevInSection.Title }}</span>
                    <span class="button__icon">→</span>
                </a>
            </span>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}
</article>
{{ end }}